@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
 
.auth-page {
  @apply flex h-screen w-full flex-col items-center justify-center gap-10;
}

